<h1>Welcome to doc fluent</h1>
<pre class="mermaid">
journey
    title Expression du besoin de recrutement  
    section Formulaire de création d'offre d'emploi
      Offre: 5: RH
      Talents qualifiés seulement?: 5: RH
      QCM additionnel pour candidats?: 5: RH
    section Workflow de validation interne 
      demande d'approbation: 5: RH,Manager
      amendement: 5: Manager
      modifier l'offre: 5: RH
      publier l'offre: 5: RH
</pre>
<pre class="mermaid">
journey
    title Sourcing et présélection des candidats
    section Accès à la base de données TAAG-JOB.CENTER
      Recherche multicritères: 5: RH 
      Matching des talents qualifiés: 5: Taag 
      External Sourcing: 5: Taag,RH 
      Talent Engagement: 5: Taag
    section Importation de CVs depuis d'autres sources
      Job Boards: 5: Taag
      Reseaux sociaux: 5: Taag
      Sites Carriere: 5: Taag
      Extraction de données: 5: Taag
    section Création de viviers de talents
      Ajout du talent: 5: RH 
</pre>
<pre class="mermaid">
journey
    title Screening et évaluation des candidats
    section Tests de qualification en ligne
      test technique: 5: Candidat 
      test linguisitique: 5: Candidat
      test logique: 5: Candidat
    section Entretiens vidéo
      Planification d'entretiens vidéo: 5: RH 
      Partage d'écran et enregistrement: 5:  Manager,Employe,Candidat
      Évaluation collaborative: 5: Manager,Employe 
    section Outils d'évaluation 
      Prise de références: 5: Me
      Questionnaire de personnalité: 5: Candidat
      étude de cas: 5: Candidat
    section Entretiens vidéo
</pre>
<pre class="mermaid">
journey
    title Sélection et embauche
    section Tableau de bord centralisé
      Visualisation des candidatures: 5: RH 
      Classement des candidats par score: 5: RH 
      Communication entre recruteurs et managers: 5: RH 
    section Gestion des offres d'emploi 
      Création et envoi d'offres d'emploi: 5: RH 
      Suivi des réponses des candidats: 5: RH 
      Signature électronique des contrats: 5: RH,Candidat 
    section Rapports et Statistiques
      analyse des canaux d'acquisition: 5: RH 
      analyse de performances: 5: RH 
      temps de recrutement: 5: RH 
      cout par embauche: 5: RH 
</pre>
